@import url("../js/modules/institution-ajax-module/moduleCss/module.css");
#title {
  color: #A37; }

h1 {
  text-align: center; }

.button {
  display: inline-block; }

.popuptext {
  background-color: wheat;
  color: red; }

/*The styles needed for the signup module*/
