$primary-color: #A37;

#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
 }
.button{
	display: inline-block;
}
.popuptext{

	background-color: wheat;
	color: red;
	
}

/*The styles needed for the signup module*/

 @import url("../js/modules/institution-ajax-module/moduleCss/module.css");
// C:\Users\ekern\Google Drive\OneDriveWest\public_html\adv-topics-final\src\js\modules\institution-ajax-module\moduleCss\module.css