
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color:cadetblue;
}

ul {
    list-style: none;
}

input[type="text"] {
    width: auto;
}

.left {
    padding: 1em;
    
    text-align: left;
}

.right {
    padding: 1em;
    /* background-color: #477553; */
    text-align: right;
    /* background-color: #477553; */
}

.parent {
    display: flex;
    overflow: auto;
    margin: 1em 0;
    color: rgb(15, 15, 15);
    background-color:transparent;
    align-items: stretch;
    justify-content: flex-start;
}

#home {
    height: auto;
    width: 100%;
    background: url("Sketch294231431.jpg");
    color: rgb(233, 245, 233);
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
  
}
 .btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active,
 .show>.btn-primary.dropdown-toggle {
     color: #fff;
     background-color: #F7B432;
     border-color: #F7B432;
 }
#floating {
    height: auto;
    width: 100%;
    background: rgba(2, 1, 5, 0.79);
    position: relative;
    padding: 2em;
   
    border-radius: 2em
}

    #floating:after {
        content: '';
        height: auto;
        width: 100%;
        background: url("Sketch294231431.jpg");
        position: absolute;
        background-attachment: fixed;
        background-size: cover;
        left: 0;
        top: 0;
        z-index: -1;
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

button{

    color:black;
}

html {
    overflow-y: scroll;
    *overflow-x: hidden;
    background-color: rgb(10, 14, 7);
}

.container {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

/* .typeahead-menu,
.gist {
  text-align: left;
} */

#map {
    width: auto;
    height: 400px;
    margin: 50px;
}
/* base styles */
/* ----------- */

html {
    font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    color: #292f33;
}


a {
    color: #03739c;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

    .table-of-contents li a {
        font-size: 16px;
        color: #999;
    }

p + p {
    margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
    margin: 20px 0 0 0;
    font-size: 64px;
}

.example {
    padding: 30px 0;
}

.example-name {
    margin: 20px 0;
    font-size: 32px;
}

.demo {
    position: relative;
    *z-index: 1;
    margin: 50px 0;
}
  
/* Typeahead  <ul class="typeahead dropdown-menu" role="listbox" style="top: 319.943px; left: 14px; display: none;"><li class="active">
    <a class="dropdown-item" href="#" role="option">Tabor College</a></li><li><a class="dropdown-item" href="#" role="option">Tacoma Communi<strong>t</strong>y College</a></li>
    <li><a class="dropdown-item" href="#" role="option">Taf<strong>t</strong> College</a></li><li><a class="dropdown-item" href="#" role="option">
    Taf<strong>t</strong> Universi<strong>t</strong>y Sys<strong>t</strong>em</a></li><li><a class="dropdown-item" href="#" role="option">Talladega College</a></li>
    <li><a class="dropdown-item" href="#" role="option">Tallahassee Communi<strong>t</strong>y College</a></li><li><a class="dropdown-item" href="#" role="option">Talmudic College of Florida</a></li>
    <li><a class="dropdown-item" href="#" role="option">Talmudical Academy-New Jersey</a></li></ul>*/

.Typeahead {
    position: relative;
    *z-index: 1;
    width: 500px;
    margin: 50px auto 0 auto;
    padding: 15px;
    text-align: left;
    background-color: #0097cf;
    background-image: -moz-linear-gradient(top, #04a2dd, #03739c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04a2dd), to(#03739c));
    background-image: -webkit-linear-gradient(top, #04a2dd, #03739c);
    background-image: -o-linear-gradient(top, #04a2dd, #03739c);
    background-image: linear-gradient(top, #04a2dd, #03739c);
    background-repeat: repeat-x;
    border: 1px solid #024e6a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px #111;
    -moz-box-shadow: 0 0 2px #111;
    box-shadow: 0 0 2px #111;
}
.dropdown-item:hover{


}
.Typeahead-spinner {
    position: absolute;
    top: 7px;
    right: 7px;
    display: none;
    width: 28px;
    height: 28px;
}

.Typeahead-hint,
.Typeahead-input {
    width: auto;
    padding: 5px 8px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #024e6a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.Typeahead-hint {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccd6dd;
    opacity: 1;
}

.Typeahead-input {
    position: relative;
    background-color: transparent;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    outline: none;
}

.dropdown-menu {
    position: absolute;
    top: 95%;
    left: 2.5%;
    z-index: 100;
    display: none;
    width: 95%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #812E392E;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgb(19, 36, 19);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color:antiquewhite;
}

    .dropdown-menu.is-open {
        display: block;
       
    }
  

.Typeahead-selectable {
    cursor: pointer;
}

    .Typeahead-selectable + .Typeahead-selectable {
        border-top: 1px solid #F70C0C;
    }


#feedback {
    font-size: 1.4em;
}

.typeahead dropdown-menu .ui-selecting {
    background: #FECA40;
}

.typeahead dropdown-menu .ui-selected {
    background: #F39814;
    color: white;
}

.typeahead dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    .typeahead dropdown-menu li {
        margin: 3px;
        padding: 0.4em;
        font-size: 1.4em;
        height: 18px;
    }
